.mantle-container{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}
.mantle-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mantle-close{
  align-self: flex-end;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid;
}