.threeLayout-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.threeLayout-container>.threeLayout-main{
  order: 2;
  flex: 1 1 auto;
  border: 1px solid #f40;
  height: inherit;
}
.threeLayout-container>.threeLayout-left{
  order: 1;
  border: 1px solid blue;
  height: inherit;
}
.threeLayout-container>.threeLayout-right{
  order: 3;
  height: inherit;
}
